@import "../PageHeader/mixins";
@import "../../styles/zIndex";

.App {
  $sidebar-width: 260px;

  & &__header {
    z-index: $zIndex-drawer + 1;
  }

  &, &__container {
    height: 100%;
  }

  &__container {
    @include PageHeader-padding(padding-top);
  }

  &__container--unsigned {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__sidebar {
    @include PageHeader-padding(padding-top);
    width: $sidebar-width;

    .ContactGroupSidebar__loading-container {
      @include PageHeader-padding(margin-bottom);
    }
  }

  &__main {
    margin-left: $sidebar-width;
  }
}
