@import "../PageHeader/mixins";
@import "../../styles/zIndex";

.App {
  $sidebar-width: 260px;

  & &__header {
    z-index: $zIndex-drawer + 1;
  }

  &, &__container, &__main {
    height: 100%;
  }

  &__container {
    @include PageHeader-padding(padding-top);
  }

  &__container--unsigned {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__sidebar {
    @include PageHeader-padding(padding-top);
    width: $sidebar-width;

    .ContactGroupSidebar {
      padding-top: 11px;

      &__loading-container {
        @include PageHeader-padding(margin-bottom);
      }
    }
  }

  &__main {
    margin-left: $sidebar-width;
  }

  .ContactList {
    height: 100%;

    &__empty-state,
    &__loading-state {
      margin-right: $sidebar-width;
    }

    &__list {
      padding: 20px 75px 20px 28px;
    }
  }
}
