.PageHeader__toolbar {
  box-sizing: border-box;
  padding: 8px;
}
@media (max-width: 425px) {
  .PageHeader__toolbar {
    padding: 4px;
  }
}

.PageHeader__menu-icon {
  margin: 0 4px;
}
@media (max-width: 425px) {
  .PageHeader__menu-icon {
    margin: 0 4px 0 0;
  }
}

.PageHeader__brand {
  display: flex;
  align-items: center;
  margin-left: 16px;
  font-size: 22px;
  outline: none;
  color: #fff;
  text-decoration: none;
}
.PageHeader__brand:focus .PageHeader__brand-name {
  text-decoration: underline;
}
.PageHeader__brand img {
  margin-right: 8px;
}
.PageHeader__brand-name {
  line-height: 24px;
}

.PageHeader__centre {
  flex: 1;
}

.PageHeader__avatar {
  display: block;
  width: 32px;
  border-radius: 100px;
}
